<!DOCTYPE html>

<html ng-app="gutCheck">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Gut Check</title>
    <link rel="stylesheet" href="public/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="public/styles/main.css" />
    <link rel="stylesheet" href="public/styles/bootstrap-slider.min.css" />
</head>
<body ng-controller="mainCtrl as mainCtrl">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4 navbar-text">
                    <div ng-show="!mainCtrl.isOnSplash()">
                        <a role="button" ng-click="mainCtrl.getBackFn()()">Back</a>
                    </div>
                </div>

                <div class="col-xs-4 navbar-text">
                    <div class="text-center" ng-cloak>
                        {{mainCtrl.getPageTitle()}}
                    </div>
                </div>

                <div class="col-xs-4 navbar-text text-right">
                    <div ng-show="!mainCtrl.isOnVerdict()">
                        <a role="button" ng-click="mainCtrl.getNextFn()()">Next</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <ng-view></ng-view>

    <script src="public/scripts/third.min.js"></script>
    <script src="public/scripts/main.js"></script>
</body>
</html>
