<div class="container" ng-controller="factorsCtrl as factorsCtrl">
    <div class="row">
        <h1 class="text-center">?: {{mainCtrl.dilemma.query}}</h1>
    </div>

    <div class="well well lg" ng-repeat="f in factorsCtrl.factors">
        <div class="row" ng-click="factorsCtrl.popupEdit(f)">
            <div class="col-xs-7">
                <p>{{f.factorText}}</p>
                <p>Importance: {{f.importanceGrade}}</p>
            </div>
            <div class="col-xs-5 text-right">
                <span class="glyphicon glyphicon-flash"></span> {{f.emotionalGrade}}
                |
                <span class="glyphicon glyphicon-heart"></span> {{100 - f.emotionalGrade}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-block btn-primary" type="button" ng-click="factorsCtrl.popupAdd()">
                Add
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </div>
    </div>

    <!-- ng-include -->
    <div id="factorModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="factorsCtrl.factorForm" ng-submit="factorsCtrl.save()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title text-center">{{mainCtrl.dilemma.query}}</h4>
                    </div>

                    <div class="modal-body">
                        <select name="selectedChoice" class="form-control" ng-options="factorsCtrl.choices.indexOf(c) as c for c in factorsCtrl.choices" ng-model="factorsCtrl.activeFactor.selectedChoice">
                        </select>
                        
                        <div class="form-group">
                            <label for="factorText" class="sr-only">New Factor</label>
                            <input type="text" name="factorText" class="form-control" placeholder="Ex: rent in New York is ridic" ng-model="factorsCtrl.activeFactor.factorText" />
                        </div>

                        <div class="panel">
                            <div class="panel-body">
                                <p class="text-center">Are you thinking with your head or your heart?</p>
                                <p class="text-center">
                                    Head
                                    <label for="emotionalGrade" class="sr-only">Emotional Grade</label>
                                    <input type="text" name="emotionalGrade" id="emotionalGrade" class="slider" ng-model="factorsCtrl.activeFactor.emotionalGrade" />
                                    Heart
                                </p>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-body">
                                <p class="text-center">How important is this factor to you?</p>
                                <p class="text-center">
                                    Low
                                    <label for="importanceGrade" class="sr-only">Importance Grade</label>
                                    <input type="text" name="importanceGrade" id="importanceGrade" class="slider" ng-model="factorsCtrl.activeFactor.importanceGrade" />
                                    High
                                </p>
                            </div>
                        </div>
                    </div>

                    <ng-switch on="factorsCtrl.modalSubmitAction">
                        <button ng-switch-when="Add" class="btn btn-block btn-primary" type="submit">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            Add
                        </button>
                        <button ng-switch-when="Edit" class="btn btn-block btn-primary" type="submit">
                            Save
                        </button>
                    </ng-switch>
                </form>
            </div>
        </div>
    </div>
</div>
