<div class="container" ng-controller="newCtrl as newCtrl">
    <div class="row">
        <form name="newCtrl.newForm" id="newForm" ng-submit="newCtrl.goNext()" novalidate>
            <div class="col-xs-12">
                <div class="form-group">
                    <input name="query" class="form-control" placeholder="Ex. Should I order 16 buffalo wings from Papa John's?" ng-model="mainCtrl.dilemma.query" required />
                    <span class="error" ng-show="newCtrl.showNewQueryError()">Please enter something</span>
                </div>
            </div>
        </form>

        <div class="col-xs-12">
            <h4>EXAMPLE DILEMMAS</h4>
            <ul>
                <!-- TODO: make list items clickable -->
                <li>What toppings should I get on my pizza?</li>
                <li>Where should I have my midlife crisis?</li>
                <li>Where should I move to?</li>
            </ul>
            <p class="text-center">
                ._.
            </p>
        </div>
    </div>
</div>
