<div class="container" ng-controller="splashCtrl as splashCtrl">
    <div class="jumbotron">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">._.</h1>
                <h3 class="text-center">Gut Check</h3>
                <h6 class="text-center">Figure out what your head and heart desires</h6>
            </div>
        </div>

        <!-- TODO: Convert page into search or remove splash page -->
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-block btn-lg btn-primary" ng-click="splashCtrl.goNext()">New Dilemma</button>
            </div>
        </div>
    </div>
</div>