<div class="container" ng-controller="splashCtrl as splashCtrl">
    <div class="jumbotron">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">._.</h1>
                <h3 class="text-center">some more text</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <a class="btn btn-block btn-lg btn-primary" href="#/new">New Button</a>
            </div>
        </div>
    </div>
</div>