[ng\:cloak], [ng-cloak], .ng-cloak { display: none; }

span.error {
    color: red;
    font-weight: bold;
}

.navbar-text {
    margin-left: 0px;
    margin-right: 0px;
}

small.pro {
    color: #33b3b3;
}

small.con {
    color: #d3616d;
}